%h1 Users ALL

= button_to 'Sign up', signup_path
= button_to 'Sign in', signin_path, method: :get

%table
  - @users.each do |user|
    %tr
      %td= user.name
      %td= link_to 'Destroy', {action: 'destroy', id: user.id}, {data: {method: :delete, confirm: 'Are you sure?'}}
