%h1 User page
%h2 Welcome #{@user.name}

= button_to 'Sign out', signout_path, method: :delete
- unless @user.admin?
  = button_to 'Cancel the membership', {action: 'destroy', id: @user.id}, {data: {method: :delete, confirm: 'Are you sure?'}}
