#data_storage{ data: { 'pusher-key' => Pusher.key } }

:javascript
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      console.log(message);
    }
  };

  var pusherKey = $('#data_storage').data('pusher-key');
  var pusher = new Pusher(pusherKey);
  var channel = pusher.subscribe('test_channel');
  channel.bind('chat_event', function(data) {
    $("ul").append("<li>" + data.message["date"] + "</li>");
    $("ul").append(data.message["content"]);
      });

  $(document).ready(function(){
    $("#post").click(function(){
      $.ajax({
        type: "post",
        url: "pusher/create",
        data: "data="+$('#text').val()
      });
    });
  })

%h1 Pusherでくそちゃっと
%textarea{placeholder: "入力してください", id: "text", cols: "40", rows: "4"}
%input#post{type: "button", value: "送信"}
%ul
